<div id="wrapper">

    <ng-container *ngIf="is_employee; then thenSidebar; else elseSidebar"></ng-container>
    <ng-template #thenSidebar>
        <app-employee-sidebar></app-employee-sidebar>
    </ng-template>
    <ng-template #elseSidebar>
        <app-organization-sidebar></app-organization-sidebar>    
    </ng-template>
    
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <app-dashboard-header></app-dashboard-header>
            
            <div class="container-fluid">
                <div class="align-items-center mb-4">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Todo Details</h3>

                        <ng-container *ngIf="is_employee; then thenBackLink; else elseBackLik"></ng-container>
                        <ng-template #thenBackLink>
                            <a class="btn btn-danger btn-sm d-sm-inline-block" role="button" [routerLink]="'/employee/todos/list'">
                                <i class="fas fa-backward fa-sm text-white-50"></i>
                                Back
                            </a>
                        </ng-template>
                        <ng-template #elseBackLik>
                            <a class="btn btn-danger btn-sm d-sm-inline-block" role="button" [routerLink]="'/organization/todos/list'">
                                <i class="fas fa-backward fa-sm text-white-50"></i>
                                Back
                            </a>    
                        </ng-template>
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            
                                <div class="card shadow-sm rounded-bottom">
                                    <div class="row">
                                        <div class="col-sm-7 col-md-8">
                                            <div class="card-body">
                                                <h3 class="card-title text-capitalize">{{ todo.title }}</h3>
                                                <p class="card-text text-primary">
                                                    
                                                    <ng-container *ngIf="is_employee; then thenIntro; else elseIntro"></ng-container>
                                                    <ng-template #thenIntro>
                                                        <span class="text-capitalize">
                                                            {{ todo.title }}
                                                        </span> 
                                                        is the task assigned to you on {{ todo.date_of_issue }} by your Manager.
                                                    </ng-template>
                                                    <ng-template #elseIntro>
                                                        <span class="text-capitalize">
                                                            {{ todo.title }}
                                                        </span> 
                                                        is the task assigned to {{ todo.emp_username }}
                                                        by You on {{ todo.date_of_issue }}.    
                                                    </ng-template>
                                                
                                                </p>
                                                <p class="card-text">
                                                    Employee Assignee Username : <span style="font-weight: 900; color:blue;">{{ todo.emp_username }}</span>
                                                </p>
                                                <p class="card-text text-primary">
                                                    Title : <span class="text-capitalize">{{ todo.title }}</span>
                                                </p>
                                                <p class="card-text">
                                                    Task : <span style="font-weight: 600;">{{ todo.task }}</span>
                                                </p>
                                                <p class="card-text">
                                                    Date of Issue : <span>{{ todo.date_of_issue }}</span>
                                                </p>
                                                <p class="card-text">
                                                    Date of Due : <span style="font-weight: 700; color:red;">{{ todo.date_of_due }}</span>
                                                </p>

                                                <br><hr>
                                                <div class="row flex-first">

                                                    <ng-container *ngIf="is_employee; then thenButtons; else elseButtons"></ng-container>
                                                    <ng-template #thenButtons>

                                                        <button type="button" (click)="onDone(todo.todo_id)" class="btn btn-success mr-3 ml-3">
                                                            Mark Done
                                                        </button>
     
                                                    </ng-template>
                                                    <ng-template #elseButtons>

                                                        <button type="button" (click)="onUpdate(todo.todo_id)" class="btn btn-primary mr-3 ml-3">
                                                            Update
                                                        </button>
     
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-target="#deleteModal">
                                                            Delete
                                                        </button>
    
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="deleteModal" tabindex="-1"
                                                            role="dialog" aria-labelledby="deleteModalLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteModalLabel">Delete Todo task</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure to delete <span class="text-capitalize"> {{ todo.title }} </span> which was assigned to {{ todo.emp_username }} ?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete(todo.todo_id)">
                                                                            Delete
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                                            Cancel
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </ng-template>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-dashboard-footer></app-dashboard-footer>
    </div>
    <a class="border rounded-circle d-inline scroll-to-top" href="#organization_page_top"><i
            class="fas fa-arrow-up"></i></a>
</div>