<form id="todo_form" enctype="multipart/form-data" [formGroup]="user" (ngSubmit)="onSubmit(user)" #newUserForm> <!--class="form-horizontal"-->
    <div class="form-group">
        <label class="control-label ml-2 col-sm-2" for="emp_username">Employee Username<span style="color: red;">*</span></label>
        <div class="row">
          <div class="col-sm-7 ml-3">
                <select formControlName="emp_username" name="emp_username" [(ngModel)]="emp_username" class="form-control form-control-user" id="emp_username"
                  placeholder="Select Employee Username">
                      <option *ngFor="let emp of employees"> {{ emp.email }} </option>
                </select>
          </div>
        </div>
    </div>
  
    <div class="form-group">
      <label class="control-label ml-2 col-sm-2" for="title">Title<span style="color: red;">*</span></label>
      <div class="row">
        <div class="col-sm-7 ml-3">
            <input type="text" formControlName="title" name="title" class="form-control form-control-user" id="title"
                placeholder="Enter Title">
        </div>
        <div class="col-sm-4 mt-2 ml-2">
            <span class="ml-2 text-danger" *ngIf="user.get('title').hasError('required') && user.get('title').touched">
                Title is required
            </span>
        </div>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label ml-2 col-sm-2" for="task">Task (Description)<span style="color: red;">*</span></label>
        <div class="row">
          <div class="col-sm-7 ml-3">
              <input type="text" formControlName="task" name="task" class="form-control form-control-user" id="task"
                  placeholder="Enter Task">
          </div>
          <div class="col-sm-4 mt-2 ml-2">
              <span class="ml-2 text-danger" *ngIf="user.get('task').hasError('required') && user.get('task').touched">
                  Description is required
              </span>
          </div>
        </div>
    </div>
  
    <div class="form-group">
      <label class="control-label ml-2 col-sm-2" for="title">Date of Due<span style="color: red;">*</span></label>
      <div class="row">
        <div class="col-sm-7 ml-3">
            <input type="date" [min]="current_date" formControlName="dod" name="dod" class="form-control form-control-user" id="dod"
                placeholder="Enter Date of Due">
        </div>
        <div class="col-sm-4 mt-2 ml-2">
            <span class="ml-2 text-danger" *ngIf="user.get('dod').hasError('required') && user.get('dod').touched">
                Date of Due is required
            </span>
        </div>
      </div>
    </div>
    <br>
  
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 flex-first">
            <button type="submit" [disabled]="user.invalid" class="btn btn-primary
             mr-3 ml-2"
                value="submit">Submit</button>
            <button type="reset" (click)="user.reset()" class="btn btn-danger">Clear</button>
        </div>
    </div>
  </form>
  