<footer>
  <div id="footer_content" class="container-fluid">
    <p class="footer_content_center pt-5">Follow us on these websites</p>
    <div id="footer_links">
      <a href="#"><i class="fa fa-user-circle-o text-own"></i></a>
      <a href="#"><i class="fa fa-linkedin text-own"></i></a>
      <a href="#"><i class="fa fa-instagram text-own"></i></a>
      <a href="#"><i class="fa fa-facebook text-own"></i></a>
    </div>
    <div class="footer_content_center">
      <p>© Copyright 2020. All Rights Reserved.</p>
      <p>Developer: Jwalit Shah</p><br>
    </div>
  </div>
</footer>
