<form class="user" [formGroup]="user" (ngSubmit)="onSubmit(user)" #newUserForm>
  <div class="form-group">
    <input type="text" formControlName="token" data-toggle="tooltip" class="form-control form-control-user" id="token"
      placeholder="Enter Token" name="token" style="box-shadow: 0px 0px 1px;" title="Enter Token" />
      <small class="ml-2 text-danger" *ngIf="user.get('token').hasError('required') && user.get('token').touched">
        Token is required
      </small>
  </div>
  <div class="form-group">
    <input type="password" formControlName="password" data-toggle="tooltip" class="form-control form-control-user"
      id="resert_pass" placeholder="Enter new password" name="password" style="box-shadow: 0px 0px 1px;"
      title="Enter new Password" />
    <small class="ml-2 text-danger" *ngIf="user.get('password').hasError('required')
        &&
        user.get('password').touched">
        Password is required
      </small>
      <small class="ml-2 text-danger" *ngIf="user.get('password').hasError('minlength')
        &&
        user.get('password').touched">
        Password must atleast 4 characters long
      </small>
      <small class="ml-2 text-danger" *ngIf="user.get('password').hasError('maxlength')
        &&
        user.get('password').touched">
        Password must atmost 10 characters long
      </small>
  </div>
  <a>
    <button class="btn btn-primary btn-block text-white btn-user" type="submit" [disabled]="user.invalid">
      Submit
    </button>
  </a>
  <hr />
  <hr />
  <br>
</form>
