<form class="user" [formGroup]="user" (ngSubmit)="onSubmit(user)" #newUserForm>
  <div class="form-group">
    <input type="text" formControlName="username" data-toggle="tooltip" class="form-control form-control-user" id="username" placeholder="Enter Email Address/Username" name="username" style="box-shadow: 0px 0px 1px;"
    title="Enter Username" />
    <small class="ml-2 text-danger" *ngIf="user.get('username').hasError('required') && user.get('username').touched">
      Username is required
    </small>
    <small class="ml-2 text-danger" *ngIf="user.get('username').hasError('email') && user.get('username').touched">
      Email format is invalid!
    </small>
  </div>
  <br>
  <div class="form-group">
    Select role<br>
    <label>
      <input type="radio" formControlName="is_employee" name="is_employee" [value]=true /><span>&nbsp;Employee</span>
    </label>
    &nbsp;
    <label>
      <input type="radio" formControlName="is_employee" name="is_employee" [value]=false /><span>&nbsp;Organization</span>
    </label>
  </div>
  <a>
    <button class="btn btn-primary btn-block text-white btn-user" type="submit" [disabled]="user.invalid">
      Submit
    </button>
  </a>
  <hr />
  <hr />
  <br>
</form>
