<div id="wrapper">

    <ng-container *ngIf="is_employee; then thenSidebar; else elseSidebar"></ng-container>
    <ng-template #thenSidebar>
        <app-employee-sidebar></app-employee-sidebar>
    </ng-template>
    <ng-template #elseSidebar>
        <app-organization-sidebar></app-organization-sidebar>    
    </ng-template>
    
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <app-dashboard-header></app-dashboard-header>
            <div class="container-fluid">

                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Pending Todo listings</h3>

                    <ng-container *ngIf="is_employee; else elseAssignTodo">
                        <a class="btn btn-dark btn-sm d-sm-inline-block" role="button"
                            [routerLink]="'/employee/todos/finished'" routerLinkActive="active">
                            <i class="fas fa-eye fa-sm text-white-50"></i>
                                Finished Todo
                        </a>
                    </ng-container>
                    <ng-template #elseAssignTodo>
                        <div class="flex-start">
                            <a class="btn btn-dark btn-sm " role="button"
                                [routerLink]="'/organization/todos/finished'" routerLinkActive="active">
                                <i class="fas fa-eye fa-sm text-white-50"></i>
                                    Finished Todo
                            </a>&nbsp;
                            <a class="btn btn-primary btn-sm" role="button"
                                [routerLink]="'/organization/todos/add'">
                                <i class="fas fa-calendar-plus fa-sm text-white-50"></i>
                                    Assign Todo
                            </a>
                        </div>
                    </ng-template>
                </div>

                <table id="todo_list" class="table table-responsive-lg table-striped table-hover">
                    <thead style="background-color: #003455; color:white;">
                        <tr>
                            <th>Todo ID</th>
                            <th>Title</th>
                            <th>Issued to</th>
                            <th>Date of issue</th>
                            <th>Date of due</th>
                            <ng-container *ngIf="is_employee; then thenTh; else elseTh"></ng-container>
                            <ng-template #thenTh>
                                <th>View</th>
                                <th>Done</th>
                            </ng-template>
                            <ng-template #elseTh>
                                <th>Manage</th>
                            </ng-template>
                            <th>Status</th>

                        </tr>
                    </thead>

                    <ng-container *ngIf="is_employee; then thenTodoList; else elseTodoList"></ng-container>
                    <ng-template #thenTodoList>

                        <tbody style="color:black;">
                            <tr *ngFor="let todo of todos_by_employee" (click)="onSelect(todo.todo_id)">
                                <td>{{ todo.todo_id }}</td>
                                <td>{{ todo.title }}</td>
                                <td>{{ todo.emp_username }}</td>
                                <td>{{ todo.date_of_issue }}</td>
                                <td>{{ todo.date_of_due }}</td>
                                <td>
                                    <button type="button" (click)="onSelect(todo.todo_id)" class="btn btn-primary mr-3">
                                        View
                                    </button>
                                </td>
                                <td>
                                    <button type="button" (click)="onDone(todo.todo_id)" class="btn btn-success mr-3">
                                        Mark Done
                                    </button>
                                </td>
                                <td>
                                   <label class="p-1 pl-2 pr-2 rounded bg-danger">Pending</label>
                                </td>
                            </tr>
                        </tbody>

                    </ng-template>
                    <ng-template #elseTodoList>

                        <tbody style="color:black;">
                            <tr *ngFor="let todo of todos_by_organization" (click)="onSelect(todo.todo_id)">
                                <td>{{ todo.todo_id }}</td>
                                <td>{{ todo.title }}</td>
                                <td>{{ todo.emp_username }}</td>
                                <td>{{ todo.date_of_issue }}</td>
                                <td>{{ todo.date_of_due }}</td>
                                <td>
                                    <button type="button" (click)="onSelect(todo.todo_id)" class="btn btn-primary mr-3">
                                        Manage
                                    </button>
                                </td>
                                <td>
                                    <label class="p-1 pl-2 pr-2 rounded bg-danger">Pending</label>
                                </td>

                            </tr>
                        </tbody>

                    </ng-template>

                </table>


            </div>
        </div>
        <app-dashboard-footer></app-dashboard-footer>
    </div>
    <a class="border rounded-circle d-inline scroll-to-top" href="#organization_page_top"><i
            class="fas fa-arrow-up"></i></a>
</div>