<br>
<footer>

  <!-- Logo of website in center of the page -->
  <div>
    <img id="footer_logo" src="/assets/mainlogo.png">
  </div>

  <div id="footer_content">
    <p class="footer_content_center">Follow us on these websites</p>
    <div id="footer_links">
      <a [routerLink]="'/home'"><i class="fa fa-user-circle-o" style="color: white;"></i></a>
      <a [routerLink]="'/home'"><i class="fa fa-linkedin" style="color: white;"></i></a>
      <a [routerLink]="'/home'"><i class="fa fa-instagram" style="color: white;"></i></a>
      <a [routerLink]="'/home'"><i class="fa fa-facebook" style="color: white;"></i></a>
    </div>
    <div class="footer_content_center">
      <p>© Copyright 2020. All Rights Reserved.</p>
      <p>Developer: Jwalit Shah</p><br>
    </div>
  </div>
</footer>
