<nav class="nav fixed-bottom navbar-light fix-bott">
    <a class="nav-link fixed-soc-link" [routerLink]="'/home'">Please do follow us on Social Media</a>
    <a class="nav-link fixed-soc-link" [routerLink]="'/home'"><i class="fa fa-user-circle-o"></i></a>
    <a class="nav-link fixed-soc-link" [routerLink]="'/home'"><i class="fa fa-linkedin"></i></a>
    <a class="nav-link fixed-soc-link" [routerLink]="'/home'"><i class="fa fa-instagram"></i></a>
    <a class="nav-link fixed-soc-link" [routerLink]="'/home'"><i class="fa fa-facebook"></i></a>
</nav>