<div id="wrapper">
  <app-organization-sidebar></app-organization-sidebar>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <app-dashboard-header></app-dashboard-header>
      <div class="container-fluid">

        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Add Employee</h3>
          <a class="btn btn-danger btn-sm d-sm-inline-block" role="button" [routerLink]="'/organization/employees/list'">
              <i class="fas fa-backward fa-sm text-white-50"></i>
              Back
          </a>
        </div>

        <div class="row">
          <div class="col-lg-11">
              <div class="card border shadow bg-light" style=" margin-top: 2%;">
                  <div class="p-3 pt-4 card-header" style="background-color: #003542; color:white">
                      <h5 class="text-center">Add Employee Details</h5>
                      <h5 class="text-danger text-center
                      "> {{ error_Msg }} </h5>
                  </div>
                  <div class="card-body">
                      <!--was-validated-->
                      <app-employee-add-form (childErrorEvent)="msgFromChildOnError($event)"></app-employee-add-form>
                  </div>
              </div>
          </div>
          <!--we can put the second column here-->
        </div>
        <br><br>
        <!-- <br><hr><br>
        <div class="row">
          <div class="col-lg-12">

              <div class="card border shadow mb-5">
                  <h3 id="success_message" class="card-header text-left">Employee List</h3>
                  <table id="info_table" class="table table-hover">
                      <tr style="background-color: #003542; color:white;">
                          <th>
                              Name
                          </th>
                          <th>
                              Email
                          </th>
                          <th>
                              Date of join
                          </th>
                          <th>
                              Delete
                          </th>
                      </tr>

                  </table>
              </div>

          </div>
        </div> -->

      </div>
    </div>
    <app-dashboard-footer></app-dashboard-footer>
  </div>
  <a class="border rounded-circle d-inline scroll-to-top" href="#organization_page_top"><i class="fas fa-arrow-up"></i></a>
</div>
